.App {
  text-align: center;
}
.button-minus{
  background-color: #EA4C89;
  border-radius: 10px;
  border-style: none;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 500;
  height: 100px;
  width: 500px;
}
.button-plus{
  background-color: #0098c2;
  border-radius: 10px;
  border-style: none;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 500;
  height: 100px;
  width: 500px;
}
button:hover,
button:focus {
  background-color: #F082AC;
}
h1{
  font-size: 80px;
}
.bold{
  font-size: 20px;
  font-weight: bold;
}